<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiveXAML" version="1.2.69" targetFramework="xamarinios10" />
  <package id="Naxam.Effects" version="1.0.6.3" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.4.0.280" targetFramework="xamarinios10" />
  <package id="Xamarin.TestCloud.Agent" version="0.21.1" targetFramework="xamarinios10" />
</packages>